.viewDiv {
  width: 100%;
  height: 100vh;
}
.esri-ui-top-right {
  margin-top: 60px;
}

#topbar {
  background: none;
  box-shadow: none;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #D3D3D3;
  color: #6e6e6e;
  height: 38px;
  width: 38px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
}

.action-button:last-child {
  border-left: none;
}

.action-button:hover,
.action-button:focus {
  background: rgb(35, 128, 38);
  color: #e4e4e4;
}

.active {
  background: rgb(35, 128, 38);;
  color: #e4e4e4;
}

.esri-direct-line-measurement-3d {
  border-radius: 3px;
}

.esri-area-measurement-3d {
  border-radius: 3px;
}

.esri-direct-line-measurement-3d__clear-button:hover {
  background-color: rgb(35, 128, 38);
  border: solid 1px rgb(35, 128, 38);
}

.esri-area-measurement-3d__clear-button:hover {
  background-color: rgb(35, 128, 38);
  border: solid 1px rgb(35, 128, 38);
}

@media only screen and (max-width: 1024px) {
  #topbar {
    display: none;
  }
}