.viewSwitcherDiv {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  z-index: 20;
  border: solid 5px #ffffff;
}

@media only screen and (max-width: 545px) {
  .viewSwitcherDiv {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    z-index: 20;
    border: solid 5px #ffffff;
  }
}